// Variables
$main-background-color: #8c7ae6;
$main-yellow-color: #192a56;
$main-green-color: #44bd32;

$dark-text-color: #2f3640;
$light-text-color: #dcdde1;
$hover-light-text-color: #a1a2a3;

$sour-gummy-font: "Sour Gummy", serif;
$twinkle-star-font: "Twinkle Star", serif;

// Global
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    background: $main-background-color;
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $sour-gummy-font;
    color: $dark-text-color;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 96px 0;
}

// Navigation
.navigation {
    background: $main-yellow-color;
    padding: 12px 0;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;
        }
    }
    a {
        text-decoration: none;
        color: $light-text-color;
        &:hover {
            color: $hover-light-text-color;
        }
    }
}