*, *::before, *::after {
  box-sizing: border-box; }

body {
  background: #d9e2f7;
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Sour Gummy", serif;
  color: #2f3640; }

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

section {
  padding: 96px 0; }

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Sour Gummy", serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s; }
  .btn:hover {
    background-position: 0 100%; }

.navigation {
  background: #192a56;
  padding: 12px 0; }
  .navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .navigation ul li {
      display: inline-block;
      margin-right: 36px;
      position: relative; }
      .navigation ul li a {
        text-decoration: none;
        color: #dcdde1; }
        .navigation ul li a:hover {
          color: #a1a2a3; }
      .navigation ul li ul {
        display: none;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 12px; }
        .navigation ul li ul li {
          display: block;
          margin-bottom: 12px; }
      .navigation ul li:hover ul {
        display: block;
        margin: 0 auto;
        position: absolute;
        background: #6079b6; }
        .navigation ul li:hover ul li a {
          text-decoration: none;
          color: #2f3640;
          display: block;
          padding: 0 24px; }
          .navigation ul li:hover ul li a:hover {
            color: #616f83; }

.splash {
  background: #afc4f8;
  color: #2f3640;
  min-height: 500px;
  display: flex; }
  .splash .splash-inner {
    margin: auto;
    max-width: 70%; }
    .splash .splash-inner h1 {
      font-family: "Twinkle Star", serif;
      margin: 0;
      font-size: 72px;
      word-spacing: -10px;
      font-weight: 700;
      line-height: 1.2; }
      .splash .splash-inner h1 span {
        font-family: "Sour Gummy", serif; }
    .splash .splash-inner h2 {
      margin: 24px 0;
      font-size: 400;
      font-size: 16; }
    .splash .splash-inner .btn-one {
      border-color: #2f3640;
      background-image: linear-gradient(90deg, #2f3640 50%, transparent 50%);
      color: #2f3640; }
      .splash .splash-inner .btn-one:hover {
        color: #dcdde1; }

.our-services, .our-work {
  padding: 20px; }
  .our-services .container, .our-work .container {
    padding: 0; }

.our-services > h1, .our-work > h1 {
  font-size: 30px;
  max-width: 1140px;
  margin: 0 auto; }

.service {
  flex: 0 0 32%;
  position: relative; }
  .service h1 {
    position: absolute;
    font-size: 144px;
    margin: 0;
    line-height: 1;
    opacity: 0.2; }
  .service h2 {
    margin: 0 0; }
  .service p {
    margin: 0 0; }
  .service p:first-of-type {
    margin: 10px 0;
    font-weight: bold; }
  .service .btn-two {
    border-color: #316e0b;
    background-image: linear-gradient(90deg, #316e0b 50%, transparent 50%);
    color: #316e0b; }
    .service .btn-two:hover {
      color: #dcdde1; }
  .service .btn-three {
    border-color: #5d520d;
    background-image: linear-gradient(90deg, #5d520d 50%, transparent 50%);
    color: #5d520d; }
    .service .btn-three:hover {
      color: #dcdde1; }
  .service .btn-four {
    border-color: #650341;
    background-image: linear-gradient(90deg, #650341 50%, transparent 50%);
    color: #650341; }
    .service .btn-four:hover {
      color: #dcdde1; }

.service-one > h1 {
  color: #316e0b; }

.service-two > h1 {
  color: #5d520d; }

.service-three > h1 {
  color: #650341; }

.btn-two, .btn-three, .btn-four {
  width: 100%; }

.our-work {
  background: #afc4f8; }

.work {
  flex: 0 0 50%;
  position: relative;
  margin: 5px 0; }
  .work .work-image {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0; }
    .work .work-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .work .work-image::after {
      content: "";
      background: #57de03;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 20px;
      top: 20px;
      opacity: 0.3;
      transition: all 1s; }
  .work .work-image:hover::after {
    left: 0;
    top: 0; }
  .work .work-description {
    padding: 0 3% 10px 53%;
    text-align: left; }
    .work .work-description p:first-of-type {
      font-size: 20px; }
    .work .work-description p:last-of-type {
      font-weight: bold; }
    .work .work-description .btn-five {
      border: none;
      text-decoration: none;
      margin: 36px 0;
      padding: 0;
      text-align: left;
      color: blue; }
      .work .work-description .btn-five:hover {
        color: purple; }
