// Variables
$main-background-color: #d9e2f7;
$main-dark-blue-color: #192a56;
$main-blue-color: #6079b6;
$main-light-blue-color: #afc4f8;

$dark-text-color: #2f3640;
$hover-dark-text-color: #616f83;
$light-text-color: #dcdde1;
$hover-light-text-color: #a1a2a3;

$sour-gummy-font: "Sour Gummy", serif;
$twinkle-star-font: "Twinkle Star", serif;

$transition: all 1s;

$service-one-color: #316e0b;
$service-two-color: #5d520d;
$service-three-color: #650341;

$our-work-rectangle-color: #57de03;

// Global
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    background: $main-background-color;
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $sour-gummy-font;
    color: $dark-text-color;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    padding: 96px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $sour-gummy-font;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    &:hover {
        background-position: 0 100%;
    }
}

// Navigation
.navigation {
    background: $main-dark-blue-color;
    padding: 12px 0;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            a {
                text-decoration: none;
                color: $light-text-color;
                &:hover {
                    color: $hover-light-text-color;
                }
            }
            display: inline-block;
            margin-right: 36px;
            position: relative;
            ul {
                display: none;
                left: 50%;
                transform: translateX(-50%);
                padding-top: 12px;;
                li {
                    display: block;
                    margin-bottom: 12px;
                }
            }
            &:hover {
                ul {
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    background: $main-blue-color;
                    li {
                        a {
                            text-decoration: none;
                            color: $dark-text-color;
                            display: block;
                            padding: 0 24px;
                            &:hover {
                                color: $hover-dark-text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Splash
.splash {
    background: $main-light-blue-color;
    color: $dark-text-color;
    min-height: 500px;
    display: flex;
    .splash-inner {
        margin: auto;
        max-width: 70%;
        h1 {
            font-family: $twinkle-star-font;
            margin: 0;
            font-size: 72px;
            word-spacing: -10px;
            font-weight: 700;
            line-height: 1.2;
            span {
                font-family: $sour-gummy-font;
            }
        }
        h2 {
            margin: 24px 0;
            font-size: 400;
            font-size: 16;
        }
        .btn-one {
            border-color: $dark-text-color;
            background-image: linear-gradient(90deg, $dark-text-color 50%, transparent 50%);
            color: $dark-text-color;
            &:hover {
                color: $light-text-color;
            }
        }
    }
}

// Our Services & Our Work & Contact Us - Basic and Headers
.our-services, .our-work, .contact-us {
    padding: 20px;
    .container {
        padding: 0;
    }
}

.our-services > h1, .our-work > h1, .contact-us > h1 {
    font-size: 30px;
    max-width: 1140px;
    margin: 0 auto;
}

// Our Services
.service {
    flex: 0 0 32%;
    position: relative;
    h1 {
        position: absolute;
        font-size: 144px;
        margin: 0;
        line-height: 1;
        opacity: 0.2;
    }
    h2 {
        margin: 0 0;
    }
    p {
        margin: 0 0;
    }
    p:first-of-type {
        margin: 10px 0;
        font-weight: bold;
    }
    .btn-two {
        border-color: $service-one-color;
        background-image: linear-gradient(90deg, $service-one-color 50%, transparent 50%);
        color: $service-one-color;
        &:hover {
            color: $light-text-color;
        }
    }
    .btn-three {
        border-color: $service-two-color;
        background-image: linear-gradient(90deg, $service-two-color 50%, transparent 50%);
        color: $service-two-color;
        &:hover {
            color: $light-text-color;
        }
    }
    .btn-four {
        border-color: $service-three-color;
        background-image: linear-gradient(90deg, $service-three-color 50%, transparent 50%);
        color: $service-three-color;
        &:hover {
            color: $light-text-color;
        }
    }
}

.service-one > h1 {
    color: $service-one-color;
}

.service-two > h1 {
    color: $service-two-color;
}

.service-three > h1 {
    color: $service-three-color;
}

.btn-two, .btn-three, .btn-four {
    width: 100%;
}

// Our Work
.our-work {
    background: $main-light-blue-color;
}

.work {
    flex: 0 0 50%;
    position: relative;
    margin: 5px 0;
    .work-image {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: "";
            background: $main-dark-blue-color;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 20px;
            top: 20px;
            opacity: 0.3;
            transition: $transition;
        }
    }
    .work-image:hover::after {
        left: 0;
        top: 0;
    }
    .work-description {
        padding: 0 3% 10px 53%;
        text-align: left;
        p:first-of-type {
            font-size: 20px;
        }
        p:last-of-type {
            font-weight: bold;
        }
        .btn-five {
            border: none;
            text-decoration: none;
            margin: 36px 0;
            padding: 0;
            text-align: left;
            color: blue;
            &:hover {
                color: purple;
            }
        }
    }
}

//Contact Us
.contact-us {
    background: $main-dark-blue-color;
    color: $light-text-color;
    h1 {
        padding-bottom: 60px;;
    }
}

.contact-form {
    flex: 2 0 0;
    padding-right: 96px;
    * {
        margin-top: 10px;
        display: block;
    }
    input, textarea {
        width: 100%;
        background: $main-dark-blue-color;
        border: 0;
        border-bottom: solid $light-text-color 5px;
        color: $light-text-color;
        &::placeholder {
            color: $light-text-color;
            padding: 5px;
        }
    }
    input {
        height: 40px;
    }
    .btn-six {
        margin-left: 0;
        border-color: $main-blue-color;
        background-image: linear-gradient(90deg, $main-blue-color 50%, $light-text-color 50%);
        color: $main-blue-color;
        &:hover {
            color: $light-text-color;
        }
    }
}

.contact-description {
    flex: 1 0 0;
    .title-par {
        margin-bottom: 0;
        font-weight: bold;
        font-family: $twinkle-star-font;
        font-size: 20px;
    }
    .desc-par {
        margin-top: 0;
    }
}

//Footer
footer {
    ul {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
        li {
            font-size: 0;
            width: 60px;
            height: 60px;
            text-align: center;
            padding: 16px;
            margin: 0 10px;
            background: $main-dark-blue-color;
            border-radius: 50%;
            transition: $transition;
            i {
                font-size: 30px;
                color: $light-text-color;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}