*, *::before, *::after {
  box-sizing: border-box; }

body {
  background: #d9e2f7;
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Sour Gummy", serif;
  color: #2f3640; }

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto; }

section {
  padding: 96px 0; }

.navigation {
  background: #192a56;
  padding: 12px 0; }
  .navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .navigation ul li {
      display: inline-block;
      margin-right: 36px;
      position: relative; }
      .navigation ul li a {
        text-decoration: none;
        color: #dcdde1; }
        .navigation ul li a:hover {
          color: #a1a2a3; }
      .navigation ul li ul {
        display: none;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 12px; }
        .navigation ul li ul li {
          display: block;
          margin-bottom: 12px; }
      .navigation ul li:hover ul {
        display: block;
        margin: 0 auto;
        position: absolute;
        background: #6079b6; }
        .navigation ul li:hover ul li a {
          text-decoration: none;
          color: #2f3640;
          display: block;
          padding: 0 24px; }
          .navigation ul li:hover ul li a:hover {
            color: #616f83; }

.splash {
  background: #afc4f8;
  color: #2f3640;
  min-height: 500px;
  display: flex; }
  .splash .splash-inner {
    margin: auto;
    max-width: 70%; }
    .splash .splash-inner h1 {
      font-family: "Twinkle Star", serif;
      margin: 0;
      font-size: 72px;
      word-spacing: -10px;
      font-weight: 700;
      line-height: 1.2; }
      .splash .splash-inner h1 span {
        font-family: "Sour Gummy", serif; }
    .splash .splash-inner h2 {
      margin: 24px 0;
      font-size: 400;
      font-size: 16; }
